/* fonts */
$main__font: "roboto";
$secondary__font: "raleway";

/* color */
$main__cl: #757575;
$main__bg-cl: #ffffff;
$secondary__cl:#212121;
$accent__cl: #2196F3;

/* transition */
$main__transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);